body{
    width: 1600px;
    height: 7335px;
    background: #FFF;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.10)), url('../resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 50px 295px;
}
header .banner .banner-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    padding: 180px 0px 0px 0px;
    font-weight: 100;
    line-height: 0px;
}
header .banner .banner-greeting{
    color: #FFF;
    width: 635px;
    font-size: 72px;
    text-align: center;
    font-style: normal;
    padding: 0px 0px 2px 350px;
    line-height: 65px;
}