body{
    width: 1600px;
    background: #FFF;
}

/* header styles */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.10)), url('../resources/Banner Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 50px 295px;
}
header .banner .banner-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    padding: 180px 0px 0px 0px;
    font-weight: 100;
    line-height: 1px;
}
header .banner .banner-greeting{
    color: #FFF;
    width: 635px;
    font-size: 72px;
    text-align: center;
    padding: 0px 0px 2px 350px;
    line-height: 65px;
    margin-top: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* All Categories section styles */

.categoies-details{
    display: block;
    max-width: 800px;
    min-height: 300px;
    margin: 200px 0px 300px 550px;
    background-color:#FFF;
    line-height: 5px;
}

.categoies-details h1{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 10px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.all-categories{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner-two section styles */

.banner-two{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 4.80), rgba(0, 0, 0, 0.0)), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin: 0px 295px 50px 295px;
    display: flex;
    gap: 15px;
}
.banner-two .banner-two-title{
    color: #FFF;
    width: 635px;
    font-size: 64px;
    text-align: left;
    padding: 0px 0px 2px 0px;
    line-height: 65px;
    margin-top: 150px;
    margin-left: 50px;
    letter-spacing: 7.04px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner-two .banner-two-paragraph{
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    text-align: left;
    margin-left: 50px;
    margin-right: 140px;
}
.banner-two .btn{
    color: #FFF;
    border: none;
    background: none;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 20px;
}

.banner-two img{
    width: 319.83px;
    height: 464.662px;
    padding: 60px 140px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Info section style */

.info-details{
    width: 1320px;
    height: 482px;
    margin: 100px 295px 10px 295px;
    text-align: center;
    background: linear-gradient(rgba(255, 0, 0, 0.12), rgba(255, 0, 0, 0.0));
    padding-top: 220px;
}
.info{
    margin: 20px 0px 0px 0px;
    line-height: 0;
}
.info h4{
    color: #070211;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info h4 .highlight{
    color: #F00;
    text-align: center;
}
.info-details .btn-2{
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: #F00;
    color:#FFF;
    font-size: 20px;
}

/* Coming soon section styles */

.coming-section{
    background: #FFF;
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 482px;
    margin: 100px 295px 10px 295px;
    text-align: left;
    line-height: 1px;
}

.coming-section h3{
    color: #F00;
    text-align: left;
    font-size: 24px;
    padding-top: 60px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.coming-section h2{
    color: #070211;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

.coming-soon-p{
    color: #070211;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    border: none;

}
.coming-soon-img{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    margin-right: 50px;
    border: 15px solid #F00;
}

.coming-soon-img{
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    background-image: url('../resources/Group96.png');
    background-color: #ffffffd1;
    padding: 30px;
}

.left-title{
    align-items: flex-start;
    text-align: left;
    padding-top: 60px;
    padding-right: 10px;
}
.left-title h2{
    color: #F00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.left-title .coming-soon-para{
    color: #070211;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

/* Portfolio styles */
.portfolio{
    width: 1320px;
    height: 1220px;
    margin: 100px 295px 10px 295px;
    background-color: #FFF;
}

.portfolio-details{
    line-height: 1px;
}

.portfolio-details h3{
    color: #F00;
    text-align: left;
    font-size: 24px;
    padding-top: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio-details h2{
    color: #070211;
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}
.portfolio-details p{
    width: 896px;
    color: #070211;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

.portfolio-img{
    display: inline;
    justify-content: space-between;
}

.portfolio-img img{
    width: 424px;
    height: 450px;
    line-height: 100px;
    border-radius: 20px;
}

/* Subscribe section styles */

.newsletter{
    width: 1320px;
    height: 646px;
    margin: 50px 295px 10px 295px;
    text-align: center;
    background-color: #FFF;
}

.newsletter-details{
    padding: 100px 0px 0px 0px;
}
.newsletter-details h2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}
.newsletter-details p{
    width: 896px;
    color: #070211;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    margin: 0px auto;
}

.subscribe-box{
    margin-top: 40px;
}

.subscribe-box input{
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}

.subscribe-box button{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    color: #FFF;
    background: #F00;
    border: none;
}

/* Footer styles */

footer{
    background: #070211;
    width: 1897px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

footer .right{
    margin: 100px 0px 0px 100px;
    line-height: 300px;
}

footer .rights{
    margin-top: 200px;
}

footer p{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
    text-align: left;
}

footer .center{
    margin: 220px 100px 0px 80px;
}

footer h4{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .left .contact{
    margin: 10px 100px 0px 0px;
    border-top: 50px;
}

footer .left{
    margin: 100px 100px 0px 120px;
}

footer .un-sub{
    margin-top: 200px;
    margin-left: 120px;
}